.features-box {
    background-color: rgba(white, .8);
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);


    &__icon{
        font-size: 6rem;
        background-image: linear-gradient(to right, #7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent;
        transition: transform .3s;
        

    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}